<div class="lg:pt-20">
  <section
    class="bg-[url('/assets/images/about_header_bg1.jpg')] bg-cover bg-center relative"
  >
    <div class="px-8 lg:px-16 bg-black/80">
      <div
        class="text-4xl font-black text-white drop-shadow py-8 lg:py-16 text-center"
      >
        About Us
      </div>
    </div>
  </section>

  <!--  About Us -->
  <section class="bg-base-200x my-8 lg:my-16">
    <div
      class="container md:mx-auto grid grid-cols-1 lg:grid-cols-2 items-stretch"
    >
      <div
        class="bg-[url('/assets/images/about1.jpg')] bg-cover bg-center h-96 lg:h-auto"
      ></div>
      <div class="bg-base-100 px-8 lg:px-16 pt-8 lg:pt-16 pb-28 space-y-10">
        <div>
          <div class="font-black text-3xl">Our Profile</div>
          <div class="w-10 border-t-4 mt-2 lg:mt-8 border-primary"></div>
        </div>
        <div class="text-lg">
          We provide expert quality support and accommodation for adults aged
          18+.Our supported living services provide innovative and
          person-centred support enabling people with autism, learning
          disabilities, mental health illnesses and challenging behaviours to
          live as independently as possible within the home and in the local
          community
        </div>

        <div class="text-lg">
          At Living Care, we empower people to lead fulfilling, more independent
          lives. What that looks like for each person is completely different,
          and so we always take a personal approach, working together with
          families, support networks and individuals to make sure everything we
          do is tailored around them.
        </div>

        <div class="text-lg">
          Our highly trained staff will ensure right from the beginning that you
          know what we will do to support you. In order to achieve the best
          possible outcomes, we also work in close partnership with health and
          social care professionals, housing, education and vocational training
          providers and employers.
        </div>
      </div>
    </div>
  </section>

  <!--  Mission & Values -->
  <section class="my-8 lg:my-16">
    <div
      class="container md:mx-auto grid grid-cols-1 lg:grid-cols-2 gap-8 lg:gap-16 items-center">
      <div
        class="bg-accent h-128 px-16 rounded-2xl pt-8 lg:pt-8 pb-24 flex flex-col items-center justify-center space-y-10"
      >
        <div class="flex flex-col items-center justify-center">
          <div class="font-black text-3xl">Mission</div>
        </div>
        <div class="text-3xl font-serif text-center leading-relaxed italic">
          <span
            >To work with and empower our service users to make choices, achieve
            goals and take control of their lives through high quality care,
            support and housing</span
          >
        </div>
      </div>
      <div class="border-primary border border-4 h-128 rounded-2xl px-8 lg:px-16 pt-8 lg:pt-10 pb-28 space-y-10 flex flex-col items-center ">
        <div class="flex flex-col justify-center">
          <div class="font-black text-3xl">Values</div>
        </div>

        <div class="w-full">
          <nz-carousel [nzAutoPlay]="true" [nzDots]="true"  [nzEnableSwipe]="true" nzDotPosition="top"  >
            <div nz-carousel-content >
              <div class="card bg-primary p-8">
                <div class="font-bold text-white text-2xl text-center">
                  Excellence
                </div>
                <div class="card-body text-lg h-48 text-white text-center">
                  We are committed to excellence in everything we do. The
                  success of our organisation and, crucially, the successes and
                  outcomes of the people who use our services, depends on our
                  ability to deliver consistently excellent services that exceed
                  expectations.
                </div>
              </div>
            </div>

              <div nz-carousel-content   >
                <div class="card bg-primary p-8">
                  <div class="font-bold text-white text-2xl text-center">
                    Partnership
                  </div>
                  <div class="card-body text-lg text-white h-48 text-center">
                    Partnership informs and influences everything we do. Through working together at every level, service users and staff will together design and deliver flexible, personalised and better services.
                  </div>
                </div>
              </div>
              <div nz-carousel-content  >
                <div class="card bg-primary p-8">
                  <div class="font-bold text-white text-2xl text-center">
                    Trust
                  </div>
                  <div class="card-body text-lg text-white h-48 text-center">
                    We are an organisation with a strong social purpose. We will be trusted by our commissioners and funders to deliver the services we say we will. We will behave with integrity and transparency. We will be trusted by our service users to deliver on our promises and by their loved ones to deliver safe and consistently high quality services.
                  </div>
                </div>
              </div>
              <div  nz-carousel-content  >
                <div class="card bg-primary p-8">
                  <div class="font-bold text-white text-2xl text-center">
                    Aspiration
                  </div>
                  <div class="card-body text-lg text-white h-48 text-center">
                    We are an organisation with a strong social purpose. We will be trusted by our commissioners and funders to deliver the services we say we will. We will behave with integrity and transparency. We will be trusted by our service users to deliver on our promises and by their loved ones to deliver safe and consistently high quality services.
                  </div>
                </div>
              </div>
          </nz-carousel>
        </div>
      </div>
    </div>
  </section>


  <!--  Features  -->
  <section class="">
    <div class="container  mx-auto px-8 lg:px-16 py-16 lg:py-32 grid grid-cols-1 lg:grid-cols-3 items-startx items-stretch gap-8 lg:gap-16 space-y-0">

      <div class="col-span-3 w-full flex justify-center">
        <div>
          <div class="font-black text-3xl">The Right Support</div>
          <div class="w-10 border-t-4 mt-2 lg:mt-8 border-primary"></div>
        </div>
      </div>

      <div class="p-8 space-y-4 feature card w-full flex flex-col items-center justify-center col-span-3 lg:col-span-1 hover:shadow-lg" >
        <figure class="w-16 ">
          <img src="assets/images/icons8-balance-64.png" alt="Nurse">
        </figure>
        <div class="text-xl font-bold">Balanced care</div>
        <div class="text-base text-center">
          Our unique approach to care promotes healthy mind, body and spirit.
        </div>
      </div>

      <div class="p-8 space-y-4 card feature w-full flex flex-col items-center col-span-3 lg:col-span-1  hover:shadow-lg " >
        <figure class="w-16">
          <img src="assets/images/icons8-care-64.png" alt="Nurse">
        </figure>
        <div class="text-xl font-bold">
          Available 24/7</div>
        <div class="text-base text-center">
          Maintaining Home
        </div>
      </div>

      <div class="p-8 space-y-4 card feature w-full flex flex-col items-center col-span-3 lg:col-span-1  hover:shadow-lg" >
        <figure class="w-16">
          <img src="assets/images/personal-care-icon.png" alt="Nurse">
        </figure>
        <div class="text-xl font-bold">
          Personal Care
        </div>
        <div class="text-base text-center">
          Grooming
        </div>
      </div>


      <div class="p-8 space-y-4 card feature w-full flex flex-col items-center col-span-3 lg:col-span-1  hover:shadow-lg" >
        <figure class="w-16">
          <img src="assets/images/icons8-budget-100.png" alt="Nurse">
        </figure>
        <div class="text-xl font-bold">
          Budgeting
        </div>
        <div class="text-base text-center">

        </div>
      </div>


      <div class="p-8 space-y-4 card feature w-full flex flex-col items-center col-span-3 lg:col-span-1  hover:shadow-lg" >
        <figure class="w-16">
          <img src="assets/images/icons8-employment-64.png" alt="Nurse">
        </figure>
        <div class="text-xl font-bold">
          Employment and Education
        </div>
        <div class="text-base text-center">
          Great Support
        </div>
      </div>

      <div class="p-8 space-y-4 card feature w-full flex flex-col items-center col-span-3 lg:col-span-1  hover:shadow-lg " >
        <figure class="w-16">
          <img src="assets/images/icons8-benefit-64.png" alt="Nurse">
        </figure>
        <div class="text-xl font-bold">
          Support with Benefits
        </div>
        <div class="text-base text-center">

        </div>
      </div>

    </div>
  </section>
</div>
