<div>
  <!--  Carousel  -->
  <section>
    <nz-carousel  nzAutoPlay [nzEnableSwipe]="true" class="h-96 lg:h-screen">
      <div nz-carousel-content  >
        <div [ngStyle]="{backgroundImage: 'url(/assets/images/slide'+1+'.jpg)'}" [ngClass]="' h-96 lg:h-screen bg-cover bg-right bg-right bg-gray-100 '">
          <div class="w-full h-full container mx-auto px-8 lg:px-16 grid grid-cols-1 lg:grid-cols-4 gap-4 pb-10 lg:pb-32  ">
            <div class="flex flex-col justify-end space-y-10 h-full">
              <div class="hidden lg:block border-l-4 border-primary font-semibold text-xl pl-4 animate__animated  animate__fadeInDown">Living Care Family Service</div>
              <div class="hidden lg:block  text-4xl font-bold animate__animated  animate__fadeInDown">We will provide your parents a healthy life</div>
              <div class="space-x-2 lg:space-x-8 flex justify-center mt-56 animate__animated  animate__fadeInDown lg:justify-start">
                <button class="btn btn-md lg:btn-lg btn-primary capitalize">About us</button>
                <button class="btn btn-md lg:btn-lg  capitalize shadow-xl">Call us</button>
              </div>
            </div>
            <div class="col-span-3 hidden lg:block"></div>
          </div>
        </div>
      </div>


      <div nz-carousel-content  class="">
        <div [ngStyle]="{backgroundImage: 'url(/assets/images/slide'+2+'.jpg)'}" [ngClass]="'h-96 lg:h-screen bg-cover bg-right bg-gray-100 '">
          <div class="w-full h-full container mx-auto px-8 lg:px-16 grid grid-cols-1 lg:grid-cols-4 gap-4 pb-10 lg:pb-32">
            <div class="flex flex-col justify-end space-y-10 h-full">
              <div class="hidden lg:block border-l-4 border-primary animate__animated  animate__fadeInDown font-semibold text-xl pl-4">Living Care Family Service</div>
              <div class="hidden lg:block  text-4xl font-bold">We do our best for you and your health</div>
              <div class="space-x-2 lg:space-x-8 flex justify-center mt-56 animate__animated  animate__fadeInDown lg:justify-start">
                <button class="btn btn-md lg:btn-lg btn-primary capitalize">About us</button>
                <button class="btn btn-md lg:btn-lg  capitalize shadow-xl">Call us</button>
              </div>
            </div>
            <div class="col-span-3  hidden lg:block" ></div>
          </div>
        </div>
      </div>

      <div nz-carousel-content  class="">
        <div [ngStyle]="{backgroundImage: 'url(/assets/images/slide'+3+'.jpg)'}" [ngClass]="'h-96 lg:h-screen bg-cover bg-right bg-gray-100'">
          <div class="w-full h-full container mx-auto px-8 lg:px-16 grid grid-cols-1 lg:grid-cols-4 gap-4 pb-10 lg:pb-32">
            <div class="flex flex-col justify-end space-y-10 h-full">
              <div class="hidden lg:block border-l-4 border-primary font-semibold text-xl pl-4">Living Care Family Service</div>
              <div class="hidden lg:block  text-4xl font-bold animate__animated  animate__fadeInDown">Correct diagnosis is half the success</div>
              <div class="space-x-2 lg:space-x-8 flex justify-center mt-56 animate__animated  animate__fadeInDown lg:justify-start">
                <button class="btn btn-md lg:btn-lg btn-primary capitalize">About us</button>
                <button class="btn btn-md lg:btn-lg  capitalize shadow-xl">Call us</button>
              </div>
            </div>
            <div class="col-span-3  hidden lg:block"></div>
          </div>
        </div>
      </div>

    </nz-carousel>
  </section>

  <!--  Why choose us -->
  <section class="bg-secondary ">
    <div class="container mx-auto px-8 lg:px-16 pt-20 pb-28 grid grid-cols-3 items-start justify-center gap-8 lg:gap-16 space-y-0">
      <div class="col-span-3 lg:col-span-1">
       <div class="text-white font-black text-3xl">Why Choose Us?</div>
       <div class="w-10 border-t-4 mt-4 lg:mt-6  border-primary"></div>
     </div>
      <div class="text-white/90 text-base lg:text-lg col-span-3    lg:col-span-1 ">
        Nunc purus sodales quis, purus a arcu, ultricies dui, ipsum eget, massa metus sed. Odio arcu dolor, facilisis adipiscing nam mauris suspendisse.
      </div>
      <div class="flex gap-8 col-span-3 lg:col-span-1">
        <div><span class="fe fe-phone-call text-primary fa-3x"></span></div>
        <div class="text-white/90 text-lg lg:text-xl font-bold space-y-4 ">
          <div>Booking now</div>
          <div>24/7 service available</div>
          <div>+233 (0) 24 031 3771</div>
        </div>
      </div>
    </div>
  </section>

  <!--  Services  -->
  <section class="">
    <div class="container mx-auto px-8 lg:px-16 py-16 lg:py-32 grid grid-cols-1 lg:grid-cols-3 items-start  gap-8 lg:gap-16 space-y-0">
      <!-- Service Categories      -->
        <div class="p-8 space-y-8 card w-full bg-base-100 col-span-3 lg:col-span-1  shadow-xl" >
          <div class="pl-4">
            <div class="font-black text-3xl">Services</div>
            <div class="w-10 border-t-4 mt-2 lg:mt-8  border-primary"></div>
          </div>
          <ul class="space-y-4 list-outside">
            <li *ngFor="let service of services|async" (click)="onSelectedServiceChanged(service.id)" [ngClass]="{'text-primary': service.id === selectedService.value}" class="flex items-center transition-all ease-in hover:text-primary cursor-pointer"><span class="fe fe-chevron-right font-bold text-lg text-primary"></span> <span class="font-semibold text-lg">{{service.label}}</span></li>
          </ul>
        </div>

      <!--   Sub-Service List -->

        <div class="col-span-3 lg:col-span-2 grid grid-cols-1 lg:grid-cols-2 gap-8 lg:gap-16">
          <div *ngFor="let sub of viewModel$|async" class="card animate__animated animate__slideInUp animate__faster w-full bg-base-100 shadow-xl">
            <figure class="h-72">
              <img [src]="sub.imageUrl" alt="Shoes" class="rounded-t-xl"/>
            </figure>
            <div class="card-body m-0">
              <h2 class="card-title text-xl font-bold">{{sub.label}}</h2>
              <div class="text-lg">{{sub.summary}}</div>
              <div class="card-actions">
                <div class="card-actions justify-start pt-8 items-center">
                  <button class="btn btn-primary btn-outline">Read more <span class="fe fe-chevron-right"></span></button>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </section>

  <!--  About Us -->
  <section class="h-screenx">
    <div class="container grid grid-cols-1 lg:grid-cols-2 ">
      <div class="bg-[url('/assets/images/about.jpg')] bg-cover h-96"></div>
      <div>
        <div>lorem</div>
      </div>
    </div>
  </section>
</div>

