<div>
  <!--  Carousel  -->
  <section>
    <nz-carousel  nzAutoPlay [nzEnableSwipe]="true" class="h-96 lg:h-screen">
      <div nz-carousel-content  >
        <div [ngStyle]="{backgroundImage: 'url(/assets/images/slide'+1+'.jpg)'}" [ngClass]="' h-96 lg:h-screen bg-cover bg-right bg-right bg-gray-100 '">
          <div class="w-full h-full container mx-auto px-8 lg:px-16 grid grid-cols-1 lg:grid-cols-4 gap-4 pb-10 lg:pb-32  ">
            <div class="flex flex-col justify-end space-y-10 h-full">
              <div class="hidden lg:block border-l-4 border-primary font-semibold text-xl pl-4 animate__animated  animate__fadeInDown">Living Care Family Service</div>
              <div class="hidden lg:block  text-4xl font-bold animate__animated  animate__fadeInDown">We will provide your parents a healthy life</div>
              <div class="space-x-2 lg:space-x-8 flex justify-center mt-56 animate__animated  animate__fadeInDown lg:justify-start">
                <button class="btn btn-md lg:btn-lg btn-primary capitalize">About us</button>
                <button class="btn btn-md lg:btn-lg  capitalize shadow-xl">Call us</button>
              </div>
            </div>
            <div class="col-span-3 hidden lg:block"></div>
          </div>
        </div>
      </div>


      <div nz-carousel-content  class="">
        <div [ngStyle]="{backgroundImage: 'url(/assets/images/slide'+2+'.jpg)'}" [ngClass]="'h-96 lg:h-screen bg-cover bg-right bg-gray-100 '">
          <div class="w-full h-full container mx-auto px-8 lg:px-16 grid grid-cols-1 lg:grid-cols-4 gap-4 pb-10 lg:pb-32">
            <div class="flex flex-col justify-end space-y-10 h-full">
              <div class="hidden lg:block border-l-4 border-primary animate__animated  animate__fadeInDown font-semibold text-xl pl-4">Living Care Family Service</div>
              <div class="hidden lg:block  text-4xl font-bold">We do our best for you and your health</div>
              <div class="space-x-2 lg:space-x-8 flex justify-center mt-56 animate__animated  animate__fadeInDown lg:justify-start">
                <button class="btn btn-md lg:btn-lg btn-primary capitalize">About us</button>
                <button class="btn btn-md lg:btn-lg  capitalize shadow-xl">Call us</button>
              </div>
            </div>
            <div class="col-span-3  hidden lg:block" ></div>
          </div>
        </div>
      </div>

      <div nz-carousel-content  class="">
        <div [ngStyle]="{backgroundImage: 'url(/assets/images/slide'+3+'.jpg)'}" [ngClass]="'h-96 lg:h-screen bg-cover bg-right bg-gray-100'">
          <div class="w-full h-full container mx-auto px-8 lg:px-16 grid grid-cols-1 lg:grid-cols-4 gap-4 pb-10 lg:pb-32">
            <div class="flex flex-col justify-end space-y-10 h-full">
              <div class="hidden lg:block border-l-4 border-primary font-semibold text-xl pl-4">Living Care Family Service</div>
              <div class="hidden lg:block  text-4xl font-bold animate__animated  animate__fadeInDown">Correct diagnosis is half the success</div>
              <div class="space-x-2 lg:space-x-8 flex justify-center mt-56 animate__animated  animate__fadeInDown lg:justify-start">
                <button class="btn btn-md lg:btn-lg btn-primary capitalize">About us</button>
                <button class="btn btn-md lg:btn-lg capitalize shadow-xl">Call us</button>
              </div>
            </div>
            <div class="col-span-3  hidden lg:block"></div>
          </div>
        </div>
      </div>

    </nz-carousel>
  </section>

  <!--  Why choose us -->
  <section class="bg-secondary ">
    <div class="container mx-auto px-8 lg:px-16 pt-20 pb-28 grid grid-cols-3 items-start justify-center gap-8 lg:gap-16 space-y-0">
      <div class="col-span-3 lg:col-span-1">
       <div class="text-white font-black text-3xl">Why Choose Us?</div>
       <div class="w-10 border-t-4 mt-4 lg:mt-6  border-primary"></div>
     </div>
      <div class="text-white/90 text-base lg:text-lg col-span-3    lg:col-span-1 ">
        Nunc purus sodales quis, purus a arcu, ultricies dui, ipsum eget, massa metus sed. Odio arcu dolor, facilisis adipiscing nam mauris suspendisse.
      </div>
      <div class="flex gap-8 col-span-3 lg:col-span-1">
        <div><span class="fe fe-phone-call text-primary fa-3x"></span></div>
        <div class="text-white/90 text-lg lg:text-xl font-bold space-y-4 ">
          <div>Booking now</div>
          <div>24/7 service available</div>
          <div>+233 (0) 24 031 3771</div>
        </div>
      </div>
    </div>
  </section>

  <!--  Services  -->
  <section class="">
    <div class="container mx-auto px-8 lg:px-16 py-16 lg:py-32 grid grid-cols-1 lg:grid-cols-3 items-start  gap-8 lg:gap-16 space-y-0">
      <!-- Service Categories      -->
        <div class="p-8 space-y-8 card w-full bg-base-100 col-span-3 lg:col-span-1  shadow-xl" >
          <div class="pl-4">
            <div class="font-black text-3xl">Services</div>
            <div class="w-10 border-t-4 mt-2 lg:mt-8  border-primary"></div>
          </div>
          <ul class="space-y-4 list-outside">
            <li *ngFor="let service of services|async" (click)="onSelectedServiceChanged(service.id)" [ngClass]="{'text-primary': service.id === selectedService.value}" class="flex items-center transition-all ease-in hover:text-primary cursor-pointer"><span class="fe fe-chevron-right font-bold text-lg text-primary"></span> <span class="font-semibold text-lg">{{service.label}}</span></li>
          </ul>
        </div>

      <!--   Sub-Service List -->

        <div class="col-span-3 lg:col-span-2 grid grid-cols-1 lg:grid-cols-2 gap-8 lg:gap-16">
          <div *ngFor="let sub of viewModel$|async" class="card animate__animated animate__slideInUp animate__faster w-full bg-base-100 shadow-xl">
            <figure class="h-72">
              <img [src]="sub.imageUrl" alt="Shoes" class="rounded-t-xl"/>
            </figure>
            <div class="card-body m-0">
              <h2 class="card-title text-xl font-bold">{{sub.label}}</h2>
              <div class="text-lg">{{sub.summary}}</div>
              <div class="card-actions">
                <div class="card-actions justify-start pt-8 items-center">
                  <button class="btn btn-primary btn-outline">Read more <span class="fe fe-chevron-right"></span></button>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </section>

  <!--  About Us -->
  <section class="h-screenx">
    <div class="container grid grid-cols-1 lg:grid-cols-2 ">
      <div class="bg-[url('/assets/images/about.jpg')] bg-cover min-h-96"></div>
      <div class="container bg-base-100 px-8 lg:px-16 pt-8 lg:pt-16 pb-28 space-y-10 md:mx-auto">
        <div>
          <div class="font-black text-3xl">About Us</div>
          <div class="w-10 border-t-4 mt-2 lg:mt-8  border-primary"></div>
        </div>
        <div class="text-lg">
          We offer confidential, non-judgmental sexual and reproductive health care with people of any gender, age & nationality.
        </div>

        <div class="space-y-4">
          <div class="flex rounded-full w-full lg:w-11/12 bg-gradient-to-r text-white text-lg from-primary/40 to-primary-focus/70 justify-between bg-primary p-6">
            <div>Stomatology</div>
            <div>70%</div>
          </div>

          <div class="flex rounded-full w-full lg:w-10/12 bg-gradient-to-r text-white text-lg from-primary/40 to-primary-focus/70 justify-between bg-primary p-6">
            <div>Psychology</div>
            <div>60%</div>
          </div>

          <div class="flex rounded-full w-full lg:w-9/12 bg-gradient-to-r text-white text-lg from-primary/40 to-primary-focus/70 justify-between bg-primary p-6">
            <div>Pediatry</div>
            <div>50%</div>
          </div>

          <div class="flex rounded-full w-full lg:w-7/12 bg-gradient-to-r text-white text-lg from-primary/40 to-primary-focus/70 justify-between bg-primary p-6">
            <div>Pediatry</div>
            <div>40%</div>
          </div>


        </div>
      </div>
    </div>
  </section>

  <!--  Features  -->
  <section class="">
    <div class="container  mx-auto px-8 lg:px-16 py-16 lg:py-32 grid grid-cols-1 lg:grid-cols-3 items-startx items-stretch gap-8 lg:gap-16 space-y-0">
      <div class="p-8 space-y-4 feature card w-full col-span-3 lg:col-span-1 hover:shadow-lg" >
        <figure class="w-16 ">
          <img src="assets/images/nurse.png" alt="Nurse">
        </figure>
        <div class="text-xl font-bold">Balanced care</div>
        <div class="text-base">
          Balanced care
          Our unique approach to care promotes healthy mind, body and spirit.
        </div>
      </div>

      <div class="p-8 space-y-4 card feature w-full col-span-3 lg:col-span-1  hover:shadow-lg " >
        <figure class="w-16">
          <img src="assets/images/nurse.png" alt="Nurse">
        </figure>
        <div class="text-xl font-bold">
          Available 24/7</div>
        <div class="text-base">
          We are available 24 hours a day to provide your loved one with a caregiver.
        </div>
      </div>

      <div class="p-8 space-y-4 card feature w-full col-span-3 lg:col-span-1  hover:shadow-lg" >
        <figure class="w-16">
          <img src="assets/images/nurse.png" alt="Nurse">
        </figure>
        <div class="text-xl font-bold">
          Daily care experts
        </div>
        <div class="text-base">
          We specialize in around the clock care to help seniors live well at home.
        </div>
      </div>


      <div class="p-8 space-y-4 card feature w-full col-span-3 lg:col-span-1  hover:shadow-lg" >
        <figure class="w-16">
          <img src="assets/images/nurse.png" alt="Nurse">
        </figure>
        <div class="text-xl font-bold">
          High caliber caregivers
        </div>
        <div class="text-base">
          We typically hire only 1 in 25 applicants and provide ongoing training.
        </div>
      </div>


      <div class="p-8 space-y-4 card feature w-full col-span-3 lg:col-span-1  hover:shadow-lg" >
        <figure class="w-16">
          <img src="assets/images/nurse.png" alt="Nurse">
        </figure>
        <div class="text-xl font-bold">
          No long term contract
        </div>
        <div class="text-base">
          Use our services only as long as you’re 100% satisfied.
        </div>
      </div>

      <div class="p-8 space-y-4 card feature w-full col-span-3 lg:col-span-1  hover:shadow-lg " >
        <figure class="w-16">
          <img src="assets/images/nurse.png" alt="Nurse">
        </figure>
        <div class="text-xl font-bold">
          Peace of mind
        </div>
        <div class="text-base">
          Independent industry surveys place our client satisfaction rate at 97%.
        </div>
      </div>

    </div>
  </section>

  <!--  Team  -->
  <section class="">
    <div class=" grid grid-cols-1 lg:grid-cols-4  ">
        <figure class="relative team-member lg:col-span-2 lg:row-span-2">
          <img src="assets/images/person1.jpg" class="" alt="">
          <div class="absolute hidden cursor-pointer desc top-0 left-0 bg-gray-900/60 flex flex-col pt-32 lg:pt-72 justify-center items-center w-full h-full">
            <div class="text-xl text-white hover:text-primary font-bold text-center">John Mohn</div>
            <div class="text-white text-lg hover:text-primary text-center">Cardiology, Pediatrics</div>
          </div>
        </figure>

      <figure class="relative team-member">
        <img src="assets/images/person2.jpg" class="" alt="">
        <div class="absolute hidden cursor-pointer desc top-0 left-0 bg-gray-900/60 flex flex-col pt-32 justify-center items-center w-full h-full">
          <div class="text-xl text-white hover:text-primary font-bold text-center">Anna Winds</div>
          <div class="text-white text-lg hover:text-primary text-center">Surgery, Therapist</div>
        </div>
      </figure>

      <figure class="relative team-member">
        <img src="assets/images/person3.jpg" class="" alt="">
        <div class="absolute hidden cursor-pointer desc top-0 left-0 bg-gray-900/60 flex flex-col pt-32 justify-center items-center w-full h-full">
          <div class="text-xl text-white hover:text-primary font-bold text-center">Dan Washington</div>
          <div class="text-white text-lg hover:text-primary text-center">Laboratory, Pediatrics</div>
        </div>
      </figure>

      <figure class="relative team-member">
        <img src="assets/images/person4.jpg" class="" alt="">
        <div class="absolute hidden cursor-pointer desc top-0 left-0 bg-gray-900/60 flex flex-col pt-32 justify-center items-center w-full h-full">
          <div class="text-xl text-white hover:text-primary font-bold text-center">Will Smith</div>
          <div class="text-white text-lg hover:text-primary text-center">Cardiology, Therapist</div>
        </div>
      </figure>

      <figure class="relative team-member">
        <img src="assets/images/person5.jpg" class="" alt="">
        <div class="absolute hidden cursor-pointer desc top-0 left-0 bg-gray-900/60 flex flex-col pt-32 justify-center items-center w-full h-full">
          <div class="text-xl text-white hover:text-primary font-bold text-center">Lisa Smith</div>
          <div class="text-white text-lg hover:text-primary text-center">Cardiology, Surgery</div>
        </div>
      </figure>

    </div>
  </section>
</div>

