<div>
  <!--  Carousel  -->
  <section>
    <nz-carousel  nzAutoPlay [nzEnableSwipe]="true" class="h-96 lg:h-screen">
      <div nz-carousel-content  >
        <div [ngStyle]="{backgroundImage: 'url(/assets/images/slide2aa.jpg)'}" [ngClass]="' h-96 lg:h-screen bg-cover bg-right bg-right bg-gray-100 '">
          <div class="w-full h-full container mx-auto px-8 lg:px-16 grid grid-cols-1 lg:grid-cols-4 gap-4 pb-10 lg:pb-32  ">
            <div class="flex flex-col justify-end space-y-10 h-full">
              <div class="hidden lg:block border-l-4 border-primary font-semibold text-xl pl-4 animate__animated  animate__fadeInDown">Living Care Family Service</div>
              <div class="hidden lg:block  text-4xl font-bold animate__animated  animate__fadeInDown">Committed to excellence in everything we do</div>
              <div class="space-x-2 lg:space-x-8 flex justify-center mt-56 animate__animated  animate__fadeInDown lg:justify-start">
                <button class="btn btn-md lg:btn-lg btn-primary capitalize">About us</button>
                <button class="btn btn-md lg:btn-lg  capitalize shadow-xl">Call us</button>
              </div>
            </div>
            <div class="col-span-3 hidden lg:block"></div>
          </div>
        </div>
      </div>


      <div nz-carousel-content  class="">
        <div [ngStyle]="{backgroundImage: 'url(/assets/images/slide1aa.jpg)'}" [ngClass]="'h-96 lg:h-screen bg-cover bg-right bg-gray-100'">
          <div class="w-full h-full container mx-auto px-8 lg:px-16 grid grid-cols-1 lg:grid-cols-4 gap-4 pb-10 lg:pb-32">
            <div class="flex flex-col justify-end space-y-10 h-full">
              <div class="hidden lg:block border-l-4 border-primary animate__animated  animate__fadeInDown font-semibold text-xl pl-4">Living Care Family Service</div>
              <div class="hidden lg:block  text-4xl font-bold">We do our best for you and your health</div>
              <div class="space-x-2 lg:space-x-8 flex justify-center mt-56 animate__animated  animate__fadeInDown lg:justify-start">
                <button class="btn btn-md lg:btn-lg btn-primary capitalize">About us</button>
                <button class="btn btn-md lg:btn-lg  capitalize shadow-xl">Call us</button>
              </div>
            </div>
            <div class="col-span-3  hidden lg:block" ></div>
          </div>
        </div>
      </div>

      <div nz-carousel-content  class="">
        <div [ngStyle]="{backgroundImage: 'url(/assets/images/slide3aa.jpg)'}" [ngClass]="'h-96 lg:h-screen bg-cover bg-right bg-gray-100'">
          <div class="w-full h-full container mx-auto px-8 lg:px-16 grid grid-cols-1 lg:grid-cols-4 gap-4 pb-10 lg:pb-32">
            <div class="flex flex-col justify-end space-y-10 h-full">
              <div class="hidden lg:block border-l-4 border-primary font-semibold text-xl pl-4">Living Care Family Service</div>
              <div class="hidden lg:block  text-4xl font-bold animate__animated  animate__fadeInDown">We are an organisation with a strong social purpose.</div>
              <div class="space-x-2 lg:space-x-8 flex justify-center mt-56 animate__animated  animate__fadeInDown lg:justify-start">
                <button class="btn btn-md lg:btn-lg btn-primary capitalize">About us</button>
                <button class="btn btn-md lg:btn-lg capitalize shadow-xl">Call us</button>
              </div>
            </div>
            <div class="col-span-3  hidden lg:block"></div>
          </div>
        </div>
      </div>

    </nz-carousel>
  </section>

  <!--  Why choose us -->
  <section class="bg-secondary ">
    <div class="container mx-auto px-8 lg:px-16 pt-20 pb-28 grid grid-cols-3 items-start justify-center gap-8 lg:gap-16 space-y-0">
      <div class="col-span-3 lg:col-span-1">
       <div class="text-white font-black text-3xl">Why Choose Us?</div>
       <div class="w-10 border-t-4 mt-4 lg:mt-6  border-primary"></div>
     </div>
      <div class="text-white/90 text-base lg:text-lg col-span-3 lg:col-span-1 ">
        Our business is about people, people who need hope and deserve a better future. It’s about finding the spark that enables each of the people we support to grow in self-worth and where possible, independence.
      </div>
      <div class="flex gap-8 col-span-3 lg:col-span-1">
        <div><span class="fe fe-phone-call text-primary fa-3x"></span></div>
        <div class="text-white/90 text-lg lg:text-xl font-bold space-y-4 ">
          <div>Booking now</div>
          <div>Say Hello!</div>
          <div>+44 (012) 9397 1451</div>
          <div>info@living-care.org</div>
        </div>
      </div>
    </div>
  </section>

  <!--  Services  -->
  <section class="">
    <div class="container mx-auto px-8 lg:px-16 py-16 lg:py-32 grid grid-cols-1 lg:grid-cols-3 items-start  gap-8 lg:gap-16 space-y-0">
      <!-- Service Categories      -->
        <div class="p-8 space-y-8 card w-full bg-base-100 col-span-3 lg:col-span-1  shadow-xl" >
          <div class="pl-4">
            <div class="font-black text-3xl">Services</div>
            <div class="w-10 border-t-4 mt-2 lg:mt-8  border-primary"></div>
          </div>
          <ul class="space-y-4 list-outside">
            <li *ngFor="let service of services|async" (click)="onSelectedServiceChanged(service.id)" [ngClass]="{'text-primary': service.id === selectedService.value}" class="flex items-center transition-all ease-in hover:text-primary cursor-pointer"><span class="fe fe-chevron-right font-bold text-lg text-primary"></span> <span class="font-semibold text-lg">{{service.label}}</span></li>
          </ul>
        </div>

      <!--   Sub-Service List -->

        <div class="col-span-3 lg:col-span-2 grid grid-cols-1 lg:grid-cols-2 gap-8 lg:gap-16">
          <div *ngFor="let sub of viewModel$|async" class="card animate__animated animate__slideInUp animate__faster w-full bg-base-100 shadow-xl">
            <figure class="h-72">
              <img [src]="sub.imageUrl" alt="Shoes" class="rounded-t-xl"/>
            </figure>
            <div class="card-body m-0">
              <h2 class="card-title text-xl font-bold">{{sub.label}}</h2>
              <div class="text-lg">{{sub.summary}}</div>
              <div class="card-actions">
                <div class="card-actions justify-start pt-8 items-center">
                  <button class="btn btn-primary btn-outline">Read more <span class="fe fe-chevron-right"></span></button>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </section>

  <!--  About Us -->
  <section class="bg-base-200">
    <div class="container grid grid-cols-1 lg:grid-cols-2 items-stretch">
      <div class="bg-[url('/assets/images/about1.jpg')] bg-cover bg-center h-96 lg:h-auto"></div>
      <div class="container bg-base-100 px-8 lg:px-16 pt-8 lg:pt-16 pb-28 space-y-10 md:mx-auto">
        <div>
          <div class="font-black text-3xl">About Us</div>
          <div class="w-10 border-t-4 mt-2 lg:mt-8  border-primary"></div>
        </div>
        <div class="text-lg">
          We provide expert quality support and accommodation for adults aged 18+.Our supported living services provide innovative and person-centred support enabling people with autism, learning disabilities, mental health illnesses and challenging behaviours to live as independently as possible within the home and in the local community
        </div>

        <div class="font-serif italic text-3xl">Our Values</div>
        <div class="grid grid-cols-2 gap-8">
         <div class="flex items-center">
           <div class="flex rounded-full w-10 bg-gradient-to-r text-white text-lg from-primary/40 to-primary-focus/70 justify-center bg-primary py-3 px-4 mr-4">
             <span class="fe fe-arrow-right-circle"></span>
           </div>
           <div class="">
             <div class="text-lg font-bold  hover:text-primary-focus transition-all ease-out cursor-pointer">Excellence</div>
<!--             <div></div>-->
           </div>
         </div>


          <div class="flex items-center">
            <div class="flex rounded-full w-10 bg-gradient-to-r text-white text-lg from-primary/40 to-primary-focus/70 justify-center bg-primary py-3 px-4 mr-4">
              <span class="fe fe-arrow-right-circle"></span>
            </div>
            <div class="">
              <div class="text-lg font-bold  hover:text-primary-focus transition-all ease-out cursor-pointer">Partnership</div>
              <!--             <div></div>-->
            </div>
          </div>


          <div class="flex items-center">
            <div class="flex rounded-full w-10 bg-gradient-to-r text-white text-lg from-primary/40 to-primary-focus/70 justify-center bg-primary py-3 px-4 mr-4">
              <span class="fe fe-arrow-right-circle"></span>
            </div>
            <div class="">
              <div class="text-lg font-bold  hover:text-primary-focus transition-all ease-out cursor-pointer">Trust</div>
              <!--             <div></div>-->
            </div>
          </div>


          <div class="flex items-center">
            <div class="flex rounded-full w-10 bg-gradient-to-r text-white text-lg from-primary/40 to-primary-focus/70 justify-center bg-primary py-3 px-4 mr-4">
              <span class="fe fe-arrow-right-circle"></span>
            </div>
            <div class="">
              <div class="text-lg font-bold hover:text-primary-focus transition-all ease-out cursor-pointer">Aspirational</div>
              <!--             <div></div>-->
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <!--  CTAs  -->
  <section class="">
    <div class="container  mx-auto px-8 lg:px-16 py-0 lg:py-32 grid grid-cols-1 lg:grid-cols-4 items-startx items-stretch gap-8 lg:gap-16x space-y-0">
      <div class="p-8 space-y-4 cta card flex flex-col cursor-pointer items-center justify-center w-full col-span-3 lg:col-span-1 hover:bg-accent" >
        <figure class="w-16 ">
          <img src="assets/images/positive_behavior.png" alt="Positive Behaviour">
        </figure>
        <div class="text-xl font-bold">Positive Behaviour</div>
        <div class="text-base">
        </div>
      </div>

      <div class="p-8 space-y-4 cta card flex flex-col cursor-pointer items-center justify-center w-full col-span-3 lg:col-span-1 transition-all ease-out hover:bg-accent" >
        <figure class="w-16 ">
          <img src="assets/images/autism.png" alt="Autism">
        </figure>
        <div class="text-xl font-bold">Autism</div>
        <div class="text-base">
        </div>
      </div>

      <div class="p-8 space-y-4 cta card flex flex-col cursor-pointer items-center justify-center w-full col-span-3 lg:col-span-1 transition-all ease-out hover:bg-accent " >
        <figure class="w-16 ">
          <img src="assets/images/learning-disability.png" alt="Learning Disability">
        </figure>
        <div class="text-xl font-bold">Learning Disability</div>
        <div class="text-base">
        </div>
      </div>

      <div class="p-8 space-y-4 cta card  cursor-pointer flex flex-col items-center justify-center w-full col-span-3 lg:col-span-1 transition-all ease-out hover:bg-accent " >
        <figure class="w-16 ">
          <img src="assets/images/mental-health.png" alt="Mental Health">
        </figure>
        <div class="text-xl font-bold">Mental Health</div>
        <div class="text-base">
        </div>
      </div>




    </div>
  </section>

  <!--  Gallery  -->
  <section class="">
    <div class=" grid grid-cols-1 lg:grid-cols-4  ">
        <figure class="relative team-member lg:col-span-2 lg:row-span-2">
          <img src="assets/images/person1a.jpg" class="" alt="">
          <div class="absolute hidden cursor-pointer desc top-0 left-0 bg-gray-900/60 flex flex-col pt-32 lg:pt-72 justify-center items-center w-full h-full">
            <div class="text-xl text-white hover:text-primary font-bold text-center"></div>
            <div class="text-white text-lg hover:text-primary text-center"></div>
          </div>
        </figure>

      <figure class="relative team-member">
        <img src="assets/images/person2a.jpg" class="" alt="">
        <div class="absolute hidden cursor-pointer desc top-0 left-0 bg-gray-900/60 flex flex-col pt-32 justify-center items-center w-full h-full">
          <div class="text-xl text-white hover:text-primary font-bold text-center"></div>
          <div class="text-white text-lg hover:text-primary text-center"></div>
        </div>
      </figure>

      <figure class="relative team-member">
        <img src="assets/images/person3a.jpg" class="" alt="">
        <div class="absolute hidden cursor-pointer desc top-0 left-0 bg-gray-900/60 flex flex-col pt-32 justify-center items-center w-full h-full">
          <div class="text-xl text-white hover:text-primary font-bold text-center"></div>
          <div class="text-white text-lg hover:text-primary text-center"></div>
        </div>
      </figure>

      <figure class="relative team-member">
        <img src="assets/images/person4a.jpg" class="" alt="">
        <div class="absolute hidden cursor-pointer desc top-0 left-0 bg-gray-900/60 flex flex-col pt-32 justify-center items-center w-full h-full">
          <div class="text-xl text-white hover:text-primary font-bold text-center"></div>
          <div class="text-white text-lg hover:text-primary text-center"></div>
        </div>
      </figure>

      <figure class="relative team-member">
        <img src="assets/images/person5a.jpg" class="" alt="">
        <div class="absolute hidden cursor-pointer desc top-0 left-0 bg-gray-900/60 flex flex-col pt-32 justify-center items-center w-full h-full">
          <div class="text-xl text-white hover:text-primary font-bold text-center"></div>
          <div class="text-white text-lg hover:text-primary text-center"></div>
        </div>
      </figure>

    </div>
  </section>


  <!--  Features  -->
  <section class="">
    <div class="container  mx-auto px-8 lg:px-16 py-16 lg:py-32 grid grid-cols-1 lg:grid-cols-3 items-startx items-stretch gap-8 lg:gap-16 space-y-0">
      <div class="p-8 space-y-4 feature card w-full flex flex-col items-center justify-center col-span-3 lg:col-span-1 hover:shadow-lg" >
        <figure class="w-16 ">
          <img src="assets/images/icons8-balance-64.png" alt="Nurse">
        </figure>
        <div class="text-xl font-bold">Balanced care</div>
        <div class="text-base text-center">
          Our unique approach to care promotes healthy mind, body and spirit.
        </div>
      </div>

      <div class="p-8 space-y-4 card feature w-full flex flex-col items-center col-span-3 lg:col-span-1  hover:shadow-lg " >
        <figure class="w-16">
          <img src="assets/images/icons8-care-64.png" alt="Nurse">
        </figure>
        <div class="text-xl font-bold">
          Available 24/7</div>
        <div class="text-base text-center">
          Maintaining Home
        </div>
      </div>

      <div class="p-8 space-y-4 card feature w-full flex flex-col items-center col-span-3 lg:col-span-1  hover:shadow-lg" >
        <figure class="w-16">
          <img src="assets/images/personal-care-icon.png" alt="Nurse">
        </figure>
        <div class="text-xl font-bold">
          Personal Care
        </div>
        <div class="text-base text-center">
          Grooming
        </div>
      </div>


      <div class="p-8 space-y-4 card feature w-full flex flex-col items-center col-span-3 lg:col-span-1  hover:shadow-lg" >
        <figure class="w-16">
          <img src="assets/images/icons8-budget-100.png" alt="Nurse">
        </figure>
        <div class="text-xl font-bold">
          Budgeting
        </div>
        <div class="text-base text-center">

        </div>
      </div>


      <div class="p-8 space-y-4 card feature w-full flex flex-col items-center col-span-3 lg:col-span-1  hover:shadow-lg" >
        <figure class="w-16">
          <img src="assets/images/icons8-employment-64.png" alt="Nurse">
        </figure>
        <div class="text-xl font-bold">
          Employment and Education
        </div>
        <div class="text-base text-center">
          Great Support
        </div>
      </div>

      <div class="p-8 space-y-4 card feature w-full flex flex-col items-center col-span-3 lg:col-span-1  hover:shadow-lg " >
        <figure class="w-16">
          <img src="assets/images/icons8-benefit-64.png" alt="Nurse">
        </figure>
        <div class="text-xl font-bold">
          Support with Benefits
        </div>
        <div class="text-base text-center">

        </div>
      </div>

    </div>
  </section>

  <!--  Testimonials  -->
  <section class="">
    <div class=" h-screen relative bg-top bg-cover bg-[url('/assets/images/testimonies.jpg')] ">
      <div class="absolute desc top-0 left-0 bg-black/80 flex flex-col pt-32 justify-center items-center w-full h-full">
        <div class="text-white text-center font-bold text-3xl">What People Say</div>
        <div class="font-serif text-xl text-center text-white my-8">Testimonials</div>
        <nz-carousel  nzAutoPlay [nzEnableSwipe]="true" [nzDots]="true">
          <div nz-carousel-content  >
            <div>
              <div class="w-full h-full container mx-auto px-16 lg:px-64 space-y-16 pt-24 lg:pt-20 select-none cursor-pointer">
                <div class="text-white text-base  italic font-serif text-center">The team of professional support staff has helped us to improve many aspects of our life, social life included. The key worker works hard and knows what they are doing. Thank you.</div>
                <div>
                  <div class="text-center text-white font-serif text-base">Jane</div>
                  <div class="text-primary text-center font-semibold text-base">24 Years</div>
                </div>
              </div>
            </div>
          </div>

          <div nz-carousel-content >
            <div>
              <div class="w-full h-full container mx-auto px-16 lg:px-64 space-y-16 pt-24 lg:pt-20 select-none cursor-pointer">
                <div class="text-white text-base  italic font-serif text-center">I cannot thank you enough for your understanding and support through some difficult times. I would highly recommend your Eden Care to anyone. The professional staff made my life easier.</div>
                <div>
                  <div class="text-center text-white font-serif text-base">Peter</div>
                  <div class="text-primary text-center font-semibold text-base">47 Years</div>
                </div>
              </div>
            </div>
          </div>

          <div nz-carousel-content>
            <div>
              <div class="w-full h-full container mx-auto px-16 lg:px-64 space-y-16 pt-24 lg:pt-20 select-none cursor-pointer">
                <div class="text-white text-base italic font-serif text-center">The team of professional support staff has helped us to improve many aspects of our life, social life included. The key worker works hard and knows what they are doing. Thank you.

                </div>
                <div>
                  <div class="text-center text-white font-serif text-base">Carol</div>
                  <div class="text-primary text-center font-semibold text-base">22 Years</div>
                </div>
              </div>
            </div>
          </div>
        </nz-carousel>
      </div>
    </div>
  </section>

  <!--  Contact Us -->
  <section class="bg-base-200">
    <div class="container grid grid-cols-1 lg:grid-cols-2 ">

      <div class="container bg-base-100 px-8 lg:px-16 pt-8 lg:pt-16 pb-28 space-y-4 md:mx-auto">
        <div>
          <div class="font-black text-3xl">Contact Us</div>
          <div class="w-10 border-t-4 mt-2 lg:mt-8  border-primary"></div>
        </div>

        <div class="divide-y space-y-8">
          <div class="flex items-center space-x-4 pt-8">
            <div class="flex justify-center items-center rounded-full  w-14 h-14 bg-base-300  text-primary justify-center">
              <span class="fe fe-map-pin fa-2x"></span>
            </div>
            <div class="w-20 text-lg font-bold hidden lg:block">Address:</div>
            <div class="text-lg w-64">49 Harrisons Rise, Croydon, CR0 4LL</div>
          </div>

          <div class="flex items-center space-x-4 pt-8">
            <div class="flex justify-center items-center rounded-full  w-14 h-14 bg-base-300  text-primary justify-center">
              <span class="fe fe-mail fa-2x"></span>
            </div>
            <div class="w-20 text-lg font-bold hidden lg:block">Email:</div>
            <div class="text-lg w-64">info@living-care.org</div>
          </div>

          <div class="flex items-center space-x-4 pt-8">
            <div class="flex justify-center items-center rounded-full  w-14 h-14 bg-base-300  text-primary justify-center">
              <span class="fe fe-phone-call fa-2x"></span>
            </div>
            <div class="w-20 text-lg font-bold hidden lg:block">Phone:</div>
            <div class="text-lg w-64">079 4624 0001</div>
          </div>


        </div>
      </div>
      <div class="container md:mx-auto min-h-96">
        <agm-map [latitude]="lat" [zoom]="18" [showDefaultInfoWindow]="true" [controlSize]="10"  [longitude]="lng">
          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
      </div>
    </div>
  </section>
</div>

