<div class="lg:pt-20">
  <section
    class="bg-[url('/assets/images/about_header_bg1.jpg')] bg-cover bg-center relative"
  >
    <div class="px-8 lg:px-16 bg-black/50">
      <div
        class="text-4xl font-black font-sans text-white drop-shadow py-8 lg:py-32 text-center"
      >
        About Us
      </div>
    </div>
  </section>

  <!--  About Us -->
  <section class="bg-base-200x my-8 lg:my-16">
    <div
      class="container md:mx-auto grid grid-cols-1 lg:grid-cols-2 items-stretch"
    >
      <div
        class="bg-[url('/assets/images/homeaboutus_edit.jpg')] bg-cover bg-center h-96 lg:h-auto"
      ></div>
      <div class="bg-base-100 px-8 lg:px-16 pt-8 lg:pt-16 pb-28 space-y-10">
        <div>
          <div class="font-black font-sans text-3xl">Our Profile</div>
          <div class="w-10 border-t-4 mt-2 lg:mt-8 border-primary"></div>
        </div>
        <div class="text-lg">
          We provide expert quality support and accommodation for adults aged
          18+.Our supported living services provide innovative and
          person-centred support enabling people with autism, learning
          disabilities, mental health illnesses and challenging behaviours to
          live as independently as possible within the home and in the local
          community
        </div>

        <div class="text-lg">
          At Living Care, we empower people to lead fulfilling, more independent
          lives. What that looks like for each person is completely different,
          and so we always take a personal approach, working together with
          families, support networks and individuals to make sure everything we
          do is tailored around them.
        </div>

        <div class="text-lg">
          Our highly trained staff will ensure right from the beginning that you
          know what we will do to support you. In order to achieve the best
          possible outcomes, we also work in close partnership with health and
          social care professionals, housing, education and vocational training
          providers and employers.
        </div>
      </div>
    </div>
  </section>

  <!--  Mission & Values -->
  <section class="my-8 lg:my-16 bg-primary/10">
    <div
      class="container md:mx-auto grid grid-cols-1 lg:grid-cols-2 gap-8 lg:gap-0 items-center divide-dashed divide-y divide-x-0 lg:divide-x lg:divide-y-0 divide-primary">
      <div
        class="lg:h-128 px-8 lg:px-16 rounded-2xl pt-8 lg:pt-8 pb-20 flex flex-col items-center justify-center space-y-10"
      >
        <div class="flex flex-col items-center justify-center">
          <div class="font-black font-sans text-3xl">Mission</div>
        </div>
        <div class="w-10 border-t-4 mt-2 lg:mt-8 border-primary"></div>
        <div class="text-2xl font-serif text-center leading-relaxed italicx">
          <span
            >To work with and empower our service users to make choices, achieve
            goals and take control of their lives through high quality care,
            support and housing</span
          >
        </div>
      </div>
      <div class="h-128 px-8 lg:px-16 pt-8 lg:pt-10 pb-28 lg:space-y-10 flex flex-col items-center ">
        <div class="flex flex-col justify-center">
          <div class="font-black font-sans text-3xl">Values</div>
        </div>

        <div class="w-full">
          <nz-carousel [nzAutoPlay]="true" [nzDots]="true"  [nzEnableSwipe]="true" nzDotPosition="bottom"  >
            <livingcare-values-slider-view nz-carousel-content title="Excellence" description="We are committed to excellence in everything we do. The success of our organisation and, crucially, the successes and outcomes of the people who use our services, depends on our ability to deliver consistently excellent services that exceed expectations."></livingcare-values-slider-view>
            <livingcare-values-slider-view nz-carousel-content  title="Partnership" description="Partnership informs and influences everything we do. Through working together at every level, service users and staff will together design and deliver flexible, personalised and better services." ></livingcare-values-slider-view>
            <livingcare-values-slider-view nz-carousel-content title="Trust" description="We are an organisation with a strong social purpose. We will be trusted by our commissioners and funders to deliver the services we say we will. We will behave with integrity and transparency. We will be trusted by our service users to deliver on our promises and by their loved ones to deliver safe and consistently high quality services." ></livingcare-values-slider-view>
            <livingcare-values-slider-view  nz-carousel-content  title="Aspiration" description="We are aspirational – for our customers, staff, and organisation. We aim high, seek out opportunities, and do not shy away from the challenges we face. We believe in identifying, nurturing, and developing potential and creating a culture of recognition and celebration across the organisation."></livingcare-values-slider-view>
          </nz-carousel>
        </div>
      </div>
    </div>
  </section>

  <!--  Support Model -->
  <section class="my-8 lg:my-16">
    <div
      class="container md:mx-auto grid grid-cols-1 lg:grid-cols-2 bg-base-200 items-stretch">
      <div class="container mx-auto px-8 lg:px-32 py-16 space-y-6">
        <div class="font-black font-sans text-3xl">Our Support Model</div>
        <div class="w-10 border-t-4 mt-2 lg:mt-8 border-primary"></div>
<!--        <div class="font-serifx text-2xl text-primary-focus text-center mt-4 mb-8 font-semibold"></div>-->

        <div class="text-lg ">
          We involve our service users and those who know them well in the design and delivery of their support, and place each service user at the centre of decision-making. We adapt support to each client’s daily activities, be that school, college, training or employment.
        </div>

        <div  class="text-lg ">
          Our clients benefit from a Key Worker who regularly reviews their support.
        </div>

        <div  class="text-lg font-bold">In addition, we support each young adult/client:</div>

        <ul  class="text-lg pl-6 list-disc list-outside space-y-4 ">
          <li>To be aspirational, encouraging them to believe they can and will succeed</li>
          <li>As an adult on equal terms, clear about expectations, rights, and responsibilities</li>
          <li>With care and compassion, building trust over time</li>
          <li>To recognise and build strong, healthy, and safe relationships</li>
          <li>To build their skills, access training, and get into work</li>
          <li>Fairly and consistently, openly challenging negative patterns of behaviour</li>
        </ul>
      </div>
      <div class=" bg-[url('/assets/images/support.jpg')] min-h-fit">

      </div>

    </div>
  </section>

  <!--  Big Difference -->
  <section class="bg-base-200x my-8">
    <div
      class="container md:mx-auto grid grid-cols-1 lg:grid-cols-2 items-stretch"
    >
      <div
        class="h-96 p-16 lg:h-auto"
      >
        <img src="/assets/images/big_diff.jpg" alt="">
      </div>
      <div class="bg-base-100 px-8 lg:px-16 pt-8 lg:pt-16 pb-28 space-y-10">
        <div>
          <div class="font-black font-sans text-3xl">The Big Difference</div>
          <div class="text-primary text-xl mt-2 lg:mt-4">Why Choose us</div>
        </div>
       <div class="space-y-8">


         <div class="grid grid-cols-12 gap-4 items-center">
           <div class="col-span-2 flex justify-center items-center bg-primary-focus w-full h-16 text-4xl font-bold text-white">
             1
           </div>
           <div class="col-span-10">
             <div class="font-bold  text-lg">Respect</div>
             <div>We respect the dignity of each person, to choose how they live and our support and care do not degrade a person’s inherent dignity.</div>
           </div>
         </div>

         <div class="grid grid-cols-12 gap-4 items-center">
           <div class="col-span-2 flex justify-center items-center bg-primary-focus w-full h-16 text-4xl font-bold text-white">
             2
           </div>
           <div class="col-span-10">
             <div class="font-bold  text-lg">Training</div>
             <div>Our staff training helps colleagues to understand what they need to do in order to make a reality of our shared philosophy of supporting our people.</div>
           </div>
         </div>

         <div class="grid grid-cols-12 gap-4 items-center">
           <div class="col-span-2 flex justify-center items-center bg-primary-focus w-full h-16 text-4xl font-bold text-white">
             3
           </div>
           <div class="col-span-10">
             <div class="font-bold  text-lg">Compassion</div>
             <div>The support we offer is underpinned by the active gift of kindness, love, caring, and a demonstration of being willing to help.</div>
           </div>
         </div>





       </div>


      </div>
    </div>
  </section>

  <!--  Features  -->
  <section class="">
    <div class="container  mx-auto px-8 lg:px-16 py-16 lg:py-16 grid grid-cols-1 lg:grid-cols-3 items-startx items-stretch gap-8 lg:gap-16 space-y-0">

      <div class="col-span-3 w-full flex flex-col items-center justify-center space-y-8">
        <div class="flex flex-col items-center">
          <div class="font-black font-sans text-3xl">The Right Support</div>
          <div class="w-10 border-t-4 mt-2 lg:mt-8 border-primary"></div>
        </div>

        <div class="text-xl text-center px-16">
          At Living Care we support all aspects of daily life to develop the skills required to live more independently.
        </div>
      </div>

      <div class="p-8 space-y-4 feature card w-full flex flex-col items-center justify-center col-span-3 lg:col-span-1 hover:shadow-lg" >
        <figure class="w-16 ">
          <img src="assets/images/icons8-balance-64.png" alt="Nurse">
        </figure>
        <div class="text-xl font-bold">Balanced care</div>
        <div class="text-base text-center">
          Our unique approach to care promotes healthy mind, body and spirit.
        </div>
      </div>

      <div class="p-8 space-y-4 card feature w-full flex flex-col items-center col-span-3 lg:col-span-1  hover:shadow-lg " >
        <figure class="w-16">
          <img src="assets/images/icons8-care-64.png" alt="Nurse">
        </figure>
        <div class="text-xl font-bold">
          Available 24/7</div>
        <div class="text-base text-center">
          Maintaining Home
        </div>
      </div>

      <div class="p-8 space-y-4 card feature w-full flex flex-col items-center col-span-3 lg:col-span-1  hover:shadow-lg" >
        <figure class="w-16">
          <img src="assets/images/personal-care-icon.png" alt="Nurse">
        </figure>
        <div class="text-xl font-bold">
          Personal Care
        </div>
        <div class="text-base text-center">
          Grooming
        </div>
      </div>


      <div class="p-8 space-y-4 card feature w-full flex flex-col items-center col-span-3 lg:col-span-1  hover:shadow-lg" >
        <figure class="w-16">
          <img src="assets/images/icons8-budget-100.png" alt="Nurse">
        </figure>
        <div class="text-xl font-bold">
          Budgeting
        </div>
        <div class="text-base text-center">

        </div>
      </div>


      <div class="p-8 space-y-4 card feature w-full flex flex-col items-center col-span-3 lg:col-span-1  hover:shadow-lg" >
        <figure class="w-16">
          <img src="assets/images/icons8-employment-64.png" alt="Nurse">
        </figure>
        <div class="text-xl font-bold">
          Employment and Education
        </div>
        <div class="text-base text-center">
          Great Support
        </div>
      </div>

      <div class="p-8 space-y-4 card feature w-full flex flex-col items-center col-span-3 lg:col-span-1  hover:shadow-lg " >
        <figure class="w-16">
          <img src="assets/images/icons8-benefit-64.png" alt="Nurse">
        </figure>
        <div class="text-xl font-bold">
          Support with Benefits
        </div>
        <div class="text-base text-center">

        </div>
      </div>

    </div>
  </section>
</div>
