<header class="shadow-lg h-18 z-50">
  <div class="container  px-4 py-4 md:mx-auto flex justify-between items-center">
    <div class="w-36">
      <img src="../../../assets/images/logo.png" alt="logo">
    </div>

    <button class="lg:hidden"><span class="fe fe-menu text-black fa-2x"></span></button>
    <div class='hidden lg:block'>
      <ul class="flex py-2 text-lg text-gray-800 font-medium space-x-10">
        <li routerLink='/' [routerLinkActiveOptions]="{exact: true}"  routerLinkActive='lc-active-link' class="lc-links">
          <a >Home</a>
        </li>
        <li routerLink='/about' [routerLinkActiveOptions]="{exact: true}" routerLinkActive='lc-active-link' class="lc-links"><a>About Us</a></li>
        <li routerLink='/services' [routerLinkActiveOptions]="{exact: true}" routerLinkActive='lc-active-link' class="lc-links"><a >Services</a></li>
        <li routerLink='/contact' [routerLinkActiveOptions]="{exact: true}" routerLinkActive='lc-active-link' class="lc-links"><a>Contact Us</a></li>
      </ul>
    </div>


  </div>

</header>
