<div class="card w-full p-0 bg-base-100 shadow-xl">
  <figure class="h-72">
    <img src="assets/images/care_and_help.jpg" alt="Shoes" class="rounded-t-xl" />
  </figure>
  <div class="card-body">
    <h2 class="card-title text-xl font-bold">Specialized Care</h2>
    <div class="text-lg">High quality health care and service. Advanced medical technologies and innovative diagnosis and treatment methods....</div>
    <div class="card-actions justify-start pt-8 items-center">
      <button class="btn btn-primary btn-outline">Read more <span class="fe fe-chevron-right"></span></button>
    </div>
  </div>
</div>

<div class="card w-full p-0 bg-base-100 shadow-xl">
  <figure class="h-72">
    <img src="assets/images/care_and_help.jpg" alt="Shoes" class="rounded-t-xl" />
  </figure>
  <div class="card-body">
    <h2 class="card-title text-xl font-bold">Doctor's visit to the house</h2>
    <div class="text-lg">High quality health care and service. Advanced medical technologies and innovative diagnosis and treatment methods....</div>
    <div class="card-actions justify-start pt-8 items-center">
      <button class="btn btn-primary btn-outline">Read more <span class="fe fe-chevron-right"></span></button>
    </div>
  </div>
</div>
