<div class="lg:pt-20">
  <section
    class="bg-[url('/assets/images/about_header_bg1.jpg')] bg-cover bg-center relative"
  >
    <div class="px-8 lg:px-16 bg-black/80">
      <div
        class="text-4xl font-black text-white drop-shadow py-8 lg:py-32 text-center"
      >
        Services
      </div>
    </div>
  </section>


  <section class="">
    <div class="container mx-auto px-8 lg:px-16 py-16 lg:py-32 grid grid-cols-1 lg:grid-cols-3 items-start  gap-8 lg:gap-16 space-y-0">
        <div *ngFor="let s of services$$|async" class="card animate__animated animate__slideInUp animate__faster w-full bg-base-100 shadow-xl">
          <figure class="h-72">
            <img [src]="s.imageUrl" alt="Shoes" class="rounded-t-xl"/>
          </figure>
          <div class="card-body m-0">
            <h2 class="card-title text-xl font-bold">{{s.label}}</h2>
            <div class="text-lg">{{s.summary}}</div>
            <div class="card-actions">
              <div class="card-actions justify-start pt-8 items-center">
                {{s.link}}
                <button [routerLink]="s.link" class="btn btn-primary btn-outline">Read more <span class="fe fe-chevron-right"></span></button>
              </div>
            </div>
          </div>
        </div>
    </div>
  </section>
</div>
