<div class="w-full">
  <div [ngStyle]="{backgroundImage: 'url('+ imageUrl +')'}" [ngClass]="'h-96 lg:h-screen bg-cover bg-right bg-right-top bg-gray-100'">
    <div class="w-full h-full container mx-auto px-8 lg:px-16 grid grid-cols-1 lg:grid-cols-4 gap-4 pb-10 lg:pb-32">
      <div class="flex flex-col justify-end space-y-10 h-full">
        <div class="hidden lg:block border-l-4 border-primary animate__animated  animate__fadeInDown font-semibold text-xl pl-4">Living Care Family Service</div>
        <div class="hidden lg:block  text-4xl h-24 font-black font-sans">{{content}}</div>
        <div class="space-x-2 lg:space-x-8 flex justify-center mt-56 animate__animated  animate__fadeInDown lg:justify-start">
          <button class="btn btn-md lg:btn-lg btn-primary capitalize" routerLink="/about">About us</button>
          <a href="tel:+233248978985" class="btn btn-md lg:btn-lg  capitalize shadow-xl">Call us</a>
        </div>
      </div>
      <div class="col-span-3  hidden lg:block" ></div>
    </div>
  </div>
</div>
